
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: #000;
}
a:hover {
  color: #0E82CB;
}

.center {
  text-align: center;
}

.white {
  color: #FFF;
}

.pull-right {
  text-align: right;
}

#root {
  background-color: #f0f2f5;
  //overflow: hidden;
}
